section h2{
    text-align: center;
    margin: 25px;
    font-size:30px;
}
.date label{
    padding:0 25px ;
    margin: 0 12px;
    font-size: 27px;
}
.date input{
    padding: 12px;
    font-size: 17px;
    border-radius: 12px;
    outline: none;
}
form{
    padding: 12px;
    margin:25px;
}
form fieldset{
    border-radius: 12px;
    border-top-right-radius: 66px;
    padding: 12px;
    margin-bottom: 15px;
}
form .Info label{
    display: block;
    margin-top: 12px;
    font-size: 28px;
}
form .Info input{
    height: 42px;
    width: 50%;
    border-radius: 7px;
    outline: none;
    border: transparent;
    padding: 12px;
    font-size: 17px;
}
form fieldset legend{
    font-size: 27px;
}
form fieldset textarea{
    border-radius: 12px;
    font-size: 17px;
    padding: 8px;
    outline: none;
}
form input{
    padding: 6px;
    font-size: 17px;
    border-radius: 5px;
    background-color: rgb(49, 50, 50);
    color:white;
    cursor: pointer;
}